npm install express mongoose jsonwebtoken bcryptjs dotenv cors express-validator multer
npm install express-async-handler

express: The web framework for Node.js.

mongoose: ODM (Object Data Modeling) library for MongoDB and Node.js.

jsonwebtoken: For generating and verifying JWTs.

bcryptjs: For hashing passwords securely.

dotenv: To load environment variables from a .env file.

cors: Middleware to enable Cross-Origin Resource Sharing.

express-validator: For request data validation.

multer: For handling multipart/form-data, primarily for file uploads (CSV/XLSX).



npm create vite@latest . -- --template react
npm install axios